*{
	padding: 0;
	margin: 0;
}

.top-body {
    position:relative;
    background: linear-gradient(180deg, #EB5757 15%, #D59152 85%);
    width:100vw;
  }
  
.header {
    
    display: flex;
    flex: row;
    justify-content:space-between;
    
    color: #ffffff;
  }
  
.brand {
    margin-left:2.5vw;
    margin-top:15px;
  }
  
.brand img {
    height: 30px;
    align-self: center;
	margin-right:10px;
	vertical-align:middle;
  }
  
.header > nav > ul >li {
    display: inline-block;
    margin: 0 15px;
    font-family: proxima nova;
    margin-top:20px;
  }
  
  
.login {
    height: 30px;
    align-self: center;
    border-radius: 25px;
    border: none;
    width: 150px;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.2);
    margin-top:15px;
    text-transform:uppercase;
    font-weight: 500;
    color:white;
    font-size:13px;
  }
  
@media screen and (max-width:600px){
	.header{
		font-size:12px;
	}
	.login{
		font-size:12px;
		width:120px;
	}
}

@media screen and (max-width:475px){
	.header > nav > ul >li {
    display:block;
    text-align:center;
  }
  .login{
  	margin-bottom:auto;
  }
}
 .main-text >p{
    margin-top: 15%;
    text-align: center;
    font-size: 64px;
    font-family:catamaran;
    font-weight:900;
    color: #ffffff;
    
  }


  @media screen and (max-width:319px){
  	.main-text > p{
  		font-size: 48px;
  	}

.photos img{
	margin:10px;
    width:auto;
    height:auto;
    max-width:200px;
    max-height:300px;
  }

  }
  
  
.label {
    display:blocks;
    text-align:center;
    font-family:catamaran;
    font-weight: 500;
    font-size: 24px;
    color:#ffffff;
    padding-bottom:20px;
  }
  
.main-text > .label > input {
    position:relative;
    width:50vw;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    border:2px solid #F2994A;
    font-family: catamaran;
    font-size: 20px;
    top:42px;
  }
  
.About h3 {
    text-align:center;
    margin-top:  12vh;
    letter-spacing: 10px;
    font-family: Catamaran;
    color: #C3C0C0;
  }
  
.About{
    width:70.8%;
    margin:0 auto;
}


.About p {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin:8vh 0;  
    
  }
.albums{
    display:flex;
    flex: row;
    flex-wrap: wrap;
    justify-content:center;
    font-family: Catamaran;
    width:100vw;
  }
  
.photos img{
	  margin:30px;
    filter: brightness(40%);
    width:auto;
    height:auto;
    max-width:300px;
    max-height:400px;
  }
  
.photos > h3 {
    color:white;
    margin-top:-25vh;
    font-weight: 400;
    font-size: 32px;
    margin-left:40px;
    line-height:50px;
    filter: brightness(100%);
  }
  
.photos  > p{
    color: #D78E52;
    font-size: 18px;
    font-weight:400;
    margin-left:40px;
    filter: brightness(100%);
  }
  
  
.see-more {
    position:relative;
    text-transform: uppercase;
    left:33%;
    margin: 10vh auto;
    height:50px;
    width:150px;
    border-radius:30px;
    border: 2px solid #E36F55;
    background-color:white;
    font-family: Catamaran;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #E36F55;
  }



.end-page {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
	  margin-top: 25vh;
	  height: 500px;
    background: linear-gradient(180deg, #EB5757 15%, #D59152 85%);
    width:100vw;
}

.end-page >img {
    margin-left:auto;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 8% 100%);
    z-index: 2;
    width:67%;
}

.end-page > p {
    position:absolute;
	font-family: Catamaran;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.1em;
	color: #f5cf98;
	text-transform: uppercase;
	margin-left:40vw ;
    margin-top: 15vh;
    z-index: 2;
}

.end-page > h3 {
    position: absolute;
	font-family: Catamaran;
	font-weight: 700;
	font-size: 300%;
	color:white;
    margin-top: 170px;
    margin-left: 11vw;
    z-index: 4;
}
        
footer{
    display:flex;
    justify-content: space-between;
    font-family: Catamaran;
	font-weight: 600;
	font-size: 14px;
	color: #A9A9A9;
	width:100vw;
}    

footer p{
	margin:0 5px;
}
