*{
	padding: 0;
	margin: 0;
}

.top-body {
    position:relative;
    background: linear-gradient(180deg, #EB5757 15%, #D59152 85%);
  }
  
.header {
    
    display: flex;
    flex: row;
    justify-content:space-between;
    
    color: #ffffff;
  }
  
.brand {
    margin-left: 10px;
    margin-top:15px;
    
    
  }
  
.brand img {
    height: 30px;
    align-self: center;
    
  }
  
.header > nav > ul >li {
    display: inline-block;
    padding: 0 15px;
    font-family: proxima nova;
    margin-top:20px;
  }
  
  
.login {
    height: 30px;
    align-self: center;
    border-radius: 25px;
    border: none;
    width: 150px;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.2);
    margin-top:15px;
    text-transform:uppercase;
    font-weight: 500;
    color:white;
    font-size:13px;
 
    
  }
  
.main-text >p{
    margin-top: 50vh;
    text-align: center;
    font-size: 64px;
    font-family:catamaran;
    font-weight:900;
    color: #ffffff;
    
  }
  
.main-text > label> input {
    font-family: catamaran;
    font-size: 20px;
    width:500px;
    text-align:center;
    border-radius: 30px;
  }
  
.label {
    display:blocks;
    text-align:center;
    font-family:catamaran;
    font-weight: 500;
    font-size: 24px;
    color:#ffffff;
    padding-bottom:20px;
  }
  
.main-text > .label > input {
    position:absolute;
    width: 350px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    border:3px solid #F2994A;
    font-family: catamaran;
    font-size: 20px;
    margin-left: -180px;
  }
  
.About h3 {
    text-align:center;
    margin-top:  40vh;
    letter-spacing: 10px;
    font-family: Catamaran;
    color: #C3C0C0;
  }
  
  
.About p {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding:30px 200px 200px;  
    
  }
.albums{
    display:flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Catamaran;
  }
  
.photos img{
    padding:25px 15px;
    filter: brightness(40%);
    
  }
  
.photos > h3 {
    color:white;
    margin-top:-20vh;
    font-weight: 400;
    font-size: 32px;
    margin-left:40px;
    line-height:50px;
  }
  
.photos  > p{
    color: #D78E52;
    font-size: 18px;
    font-weight:400;
    margin-left:40px;
  }
  
  
.see-more {
    position:absolute;
    text-transform: uppercase;
    margin-top: 10vh;
    height:50px;
    width:280px;
    border-radius:30px;
    border: 2px solid #E36F55;
    background-color:white;
    font-family: Catamaran;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #E36F55;
    box-sizing: border-box;
    margin-left: 40vw;

  }



.end-page {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
	margin-top: 25vh;
	height: 500px;
    background: linear-gradient(180deg, #EB5757 15%, #D59152 85%);
    
}

.end-page >img {
    margin-left:auto;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 8% 100%);
    z-index: 2;
}

.end-page > p {
    position:absolute;
	font-family: Catamaran;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.1em;
	color: #FEBE61;
	text-transform: uppercase;
	margin-left: 170px;
    padding-top: 15vh;
    z-index: 3;
}

.end-page > h3 {
    position: absolute;
	font-family: Catamaran;
	font-weight: 700;
	font-size: 72px;
	color:white;
    margin-top: 170px;
    margin-left: 11vw;
    z-index: 4;
}
        
footer{
    display:flex;
    justify-content: space-between;
    padding:15px;
    font-family: Catamaran;
	font-weight: 600;
	font-size: 14px;
	color: #A9A9A9;
}    